In [48]:
import pandas as pd
import numpy as np

df = pd.read_csv('./archive/match_data.csv')

C:\Users\kaush\AppData\Local\Temp\ipykernel_26760\1225302202.py:4: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./archive/match_data.csv')

In [49]:
df

,match_id,season,start_date,stadium,innings,over,batting_team,bowling_team,striker,non_striker,...,other_wicket_type,other_player_dismissed,batting_team_short_name,bowling_team_short_name,venue,total_run,final_total_runs,is_wicket,wickets,runs
0,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,...,NaN,NaN,KKR,RCB,Bengaluru,1,222,0,0,1
1,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,NaN,NaN,KKR,RCB,Bengaluru,0,222,0,0,1
2,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,NaN,NaN,KKR,RCB,Bengaluru,1,222,0,0,2
3,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,NaN,NaN,KKR,RCB,Bengaluru,0,222,0,0,2
4,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,NaN,NaN,KKR,RCB,Bengaluru,0,222,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,17.3,Gujarat Titans,Rajasthan Royals,DA Miller,Shubman Gill,...,NaN,NaN,GT,RR,Ahmedabad,1,133,0,3,124
225950,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,17.4,Gujarat Titans,Rajasthan Royals,Shubman Gill,DA Miller,...,NaN,NaN,GT,RR,Ahmedabad,0,133,0,3,124
225951,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,17.5,Gujarat Titans,Rajasthan Royals,Shubman Gill,DA Miller,...,NaN,NaN,GT,RR,Ahmedabad,1,133,0,3,125
225952,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,17.6,Gujarat Titans,Rajasthan Royals,DA Miller,Shubman Gill,...,NaN,NaN,GT,RR,Ahmedabad,2,133,0,3,127
225953,1312200,2022,2022-05-29,"Narendra Modi Stadium, Ahmedabad",2,18.1,Gujarat Titans,Rajasthan Royals,Shubman Gill,DA Miller,...,NaN,NaN,GT,RR,Ahmedabad,6,133,0,3,133

In [50]:
# Specify the columns to remove
columns_to_remove = ['match_id', 'season', 'striker', 'non_striker', 'bowler',
                     'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
                     'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
                     'other_player_dismissed', 'batting_team_short_name', 'start_date',
                     'bowling_team_short_name', 'total_run', 'is_wicket', 'stadium']

# Remove the unwanted columns and rearrange the remaining columns
try:
    df1 = df.drop(columns=columns_to_remove)[["batting_team", "bowling_team", "venue",
                                              "innings", "over", "runs", "wickets", "final_total_runs"]]
    print(df1.head())
except KeyError as e:
    print(f"KeyError: {e}. Ensure the specified columns exist in the dataset.")

            batting_team                 bowling_team      venue  innings  \
0  Kolkata Knight Riders  Royal Challengers Bangalore  Bengaluru        1
1  Kolkata Knight Riders  Royal Challengers Bangalore  Bengaluru        1
2  Kolkata Knight Riders  Royal Challengers Bangalore  Bengaluru        1
3  Kolkata Knight Riders  Royal Challengers Bangalore  Bengaluru        1
4  Kolkata Knight Riders  Royal Challengers Bangalore  Bengaluru        1

   over  runs  wickets  final_total_runs
0   0.1     1        0               222
1   0.2     1        0               222
2   0.3     2        0               222
3   0.4     2        0               222
4   0.5     2        0               222

Feature encoding

In [51]:
# Encode unique team names from 'batting_team' and 'bowling_team'
encoded_teams = {
    k: v for v, k in enumerate(
        pd.concat([df1['batting_team'], df1['bowling_team']]).unique(), 0
    )
}

# Display the encoded teams
encoded_teams

{'Kolkata Knight Riders': 0,
 'Royal Challengers Bangalore': 1,
 'Chennai Super Kings': 2,
 'Punjab Kings': 3,
 'Rajasthan Royals': 4,
 'Delhi Capitals': 5,
 'Sunrisers Hyderabad': 6,
 'Mumbai Indians': 7,
 'Kochi Tuskers Kerala': 8,
 'Rising Pune Supergiants': 9,
 'Gujarat Titans': 10,
 'Lucknow Super Giants': 11}

In [52]:
df1['batting_team'] = df1['batting_team'].map(encoded_teams)
df1['bowling_team'] = df1['bowling_team'].map(encoded_teams)
df1.sample(10)

,batting_team,bowling_team,venue,innings,over,runs,wickets,final_total_runs
6133,6,2,Chennai,2,12.5,100,2,148
138033,0,7,Mumbai,1,1.4,15,0,178
60275,4,0,Jaipur,1,12.3,85,3,164
87249,1,9,Pune,1,2.6,15,0,187
75589,5,0,Pune,2,10.4,83,3,144
93116,9,5,Pune,1,5.1,38,0,172
64199,5,6,Delhi,2,9.4,65,4,162
86285,2,9,Pune,1,1.5,6,0,164
215687,3,5,Mumbai,1,10.5,80,4,115
172481,0,6,Kolkata,2,16.4,134,6,160

prepertation of variables

In [53]:
X =df1.drop(columns=['final_total_runs'],axis=1)
print("Data Shape is :",X.shape)
X.head()

Data Shape is : (225954, 7)

   batting_team  bowling_team      venue  innings  over  runs  wickets
0             0             1  Bengaluru        1   0.1     1        0
1             0             1  Bengaluru        1   0.2     1        0
2             0             1  Bengaluru        1   0.3     2        0
3             0             1  Bengaluru        1   0.4     2        0
4             0             1  Bengaluru        1   0.5     2        0

In [54]:
Y = df1['final_total_runs']
Y.head()

0    222
1    222
2    222
3    222
4    222
Name: final_total_runs, dtype: int64

onehotencoding

In [55]:
# Import OneHotEncoder
from sklearn.preprocessing import OneHotEncoder

# Get the column names of numerical and categorical features
num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

# Instantiate OneHotEncoder
encoder = OneHotEncoder()

# Use fit_transform() to encode the specified columns
encoded_features = encoder.fit_transform(X[cat_features])

# The encoded_features will be in a sparse matrix format, you can convert it to a dense array using toarray()
# If you want to append it to the original dataframe, you can convert it to a dataframe using pd.DataFrame()
encoded_features_df = pd.DataFrame(encoded_features.toarray(), columns=encoder.get_feature_names_out(cat_features))

# Remove the "venue_" prefix from column names in the encoded features dataframe
encoded_features_df.columns = [col.split("venue_")[1] for col in encoded_features_df.columns]

# Concatenate the encoded features dataframe with the original dataframe
X = pd.concat([X.drop(cat_features, axis=1), encoded_features_df], axis=1)

# Display the encoded dataframe
X.head()

,batting_team,bowling_team,innings,over,runs,wickets,"Abu Dhabi, UAE",Ahmedabad,Bengaluru,"Bloemfontein, South Africa",...,"Kimberley, South Africa",Kolkata,Mohali,Mumbai,Pune,Raipur,Rajkot,Ranchi,"Sharjah, UAE",Visakhapatnam
0,0,1,1,0.1,1,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,1,1,0.2,1,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,1,1,0.3,2,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,1,1,0.4,2,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,1,1,0.5,2,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [56]:
X.columns

Index(['batting_team', 'bowling_team', 'innings', 'over', 'runs', 'wickets',
       'Abu Dhabi, UAE', 'Ahmedabad', 'Bengaluru',
       'Bloemfontein, South Africa', 'Cape Town, South Africa',
       'Centurion, South Africa', 'Chennai', 'Cuttack', 'Delhi', 'Dharamshala',
       'Dubai, UAE', 'Durban, KwaZulu-Natal, South Africa',
       'East London, Eastern Cape, South Africa', 'Gqeberha, South Africa',
       'Hyderabad', 'Indore', 'Jaipur', 'Jamtha', 'Johannesburg, South Africa',
       'Kanpur', 'Kimberley, South Africa', 'Kolkata', 'Mohali', 'Mumbai',
       'Pune', 'Raipur', 'Rajkot', 'Ranchi', 'Sharjah, UAE', 'Visakhapatnam'],
      dtype='object')

seperating dataset into test and train

In [57]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
# separate dataset into train and test
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((180763, 36), (45191, 36))

In [58]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

creating evavulate function for all metrics

In [59]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae,mse,rmse,r2_square

In [60]:
X

,batting_team,bowling_team,innings,over,runs,wickets,"Abu Dhabi, UAE",Ahmedabad,Bengaluru,"Bloemfontein, South Africa",...,"Kimberley, South Africa",Kolkata,Mohali,Mumbai,Pune,Raipur,Rajkot,Ranchi,"Sharjah, UAE",Visakhapatnam
0,0,1,1,0.1,1,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,1,1,0.2,1,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,1,1,0.3,2,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,1,1,0.4,2,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,1,1,0.5,2,0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,10,4,2,17.3,124,3,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
225950,10,4,2,17.4,124,3,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
225951,10,4,2,17.5,125,3,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
225952,10,4,2,17.6,127,3,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
225953,10,4,2,18.1,133,3,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [61]:
X.to_csv('./archive/mt1h.csv', index=False)

model building

building random forest

In [62]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
import joblib  # Import joblib for saving/loading the model

class DecisionTreeRegressor:
    """
    A basic Decision Tree Regressor for use in the Random Forest.
    """

    def _init_(self, max_depth=None, min_samples_split=2):
        self.max_depth = max_depth
        self.min_samples_split = min_samples_split
        self.tree = None

    def fit(self, X, y):
        """
        Fits the decision tree to the data.
        """
        self.tree = self._build_tree(X, y)

    def _build_tree(self, X, y, depth=0):
        """
        Recursive function to build the decision tree.
        """
        if depth == self.max_depth or len(y) < self.min_samples_split:
            return np.mean(y)  # Return the mean value as the prediction

        # Find the best feature and threshold to split on
        best_feature, best_threshold = self._find_best_split(X, y)
        if best_feature is None:
            return np.mean(y)  # No valid split found

        # Split the data into left and right subsets
        left_indices = X[:, best_feature] <= best_threshold
        right_indices = ~left_indices

        # Recursively build the left and right subtrees
        left_tree = self._build_tree(X[left_indices], y[left_indices], depth + 1)
        right_tree = self._build_tree(X[right_indices], y[right_indices], depth + 1)

        # Return the tree structure as a dictionary
        return {"feature": best_feature, "threshold": best_threshold,
                "left": left_tree, "right": right_tree}

    def _find_best_split(self, X, y):
        """
        Finds the best feature and threshold to split the data on.
        """
        best_feature = None
        best_threshold = None
        best_mse = float('inf')  # Initialize with a very large MSE

        for feature in range(X.shape[1]):
            thresholds = np.unique(X[:, feature])
            for threshold in thresholds:
                left_indices = X[:, feature] <= threshold
                right_indices = ~left_indices

                if len(y[left_indices]) == 0 or len(y[right_indices]) == 0:
                    continue

                # Compute the mean squared error (MSE) for the split
                left_mse = np.mean((y[left_indices] - np.mean(y[left_indices]))**2)
                right_mse = np.mean((y[right_indices] - np.mean(y[right_indices]))**2)
                mse = (len(y[left_indices]) * left_mse + len(y[right_indices]) * right_mse) / len(y)

                if mse < best_mse:
                    best_mse = mse
                    best_feature = feature
                    best_threshold = threshold

        return best_feature, best_threshold

    def predict(self, X):
        """
        Predicts the target value for a given input.
        """
        return np.array([self._predict_row(row, self.tree) for row in X])

    def _predict_row(self, row, tree):
        """
        Predicts the target value for a single row of input.
        """
        if isinstance(tree, dict):
            feature = tree['feature']
            threshold = tree['threshold']
            if row[feature] <= threshold:
                return self._predict_row(row, tree['left'])
            else:
                return self._predict_row(row, tree['right'])
        else:
            return tree  # Return the leaf value

class RandomForestRegressor:
    """
    A Random Forest Regressor built from scratch.
    """

    def _init_(self, n_estimators=100, max_depth=None, min_samples_split=2, max_features=None):
        self.n_estimators = n_estimators
        self.max_depth = max_depth
        self.min_samples_split = min_samples_split
        self.max_features = max_features  # Number of features to consider for each split
        self.trees = []

    def fit(self, X, y):
        """
        Fits the random forest to the data using bagging.
        """
        self.trees = []
        X = X.to_numpy()  # Convert to NumPy array for compatibility
        y = y.to_numpy()  # Convert to NumPy array for compatibility
        n_samples = X.shape[0]

        for _ in range(self.n_estimators):
            # Bootstrap sampling
            indices = np.random.choice(n_samples, n_samples, replace=True)
            X_sample, y_sample = X[indices], y[indices]

            # Create a new decision tree and fit it on the bootstrap sample
            tree = DecisionTreeRegressor(max_depth=self.max_depth, min_samples_split=self.min_samples_split)
            tree.fit(X_sample, y_sample)
            self.trees.append(tree)

    def predict(self, X):
        """
        Predicts the target value by averaging predictions from all trees.
        """
        X = X.to_numpy()  # Ensure input is a NumPy array
        predictions = np.array([tree.predict(X) for tree in self.trees])  # Collect predictions from all trees
        return np.mean(predictions, axis=0)  # Take the mean of the predictions

    def save_model(self, filename):
        """
        Save the model to a file using joblib.
        """
        joblib.dump(self, filename)
        print(f"Model saved to {filename}")

    @staticmethod
    def load_model(filename):
        """
        Load a saved model from a file using joblib.
        """
        return joblib.load(filename)

writing algo in combines

In [63]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
# separate dataset into train and test
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((180763, 36), (45191, 36))

In [64]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [66]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler


# Separate dataset into train and test
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)


rf2 = RandomForestRegressor(n_estimators=10, max_depth=5)

rf2.fit(X_train, Y_train)

y_pred = rf2.predict(X_test)

# Fit the model to the training data
# rf_regressor.fit(X_train, Y_train)

# Make predictions using the trained model
# y_pred_rf = rf_regressor.predict(X_test)

# Print or evaluate the predictions
print("Random Forest Predictions:", y_pred)

TypeError: RandomForestRegressor() takes no arguments

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Function to calculate and print all regression metrics
def calculate_metrics(y_true, y_pred):
    # Mean Absolute Error (MAE)
    mae = mean_absolute_error(y_true, y_pred)
    
    # Mean Squared Error (MSE)
    mse = mean_squared_error(y_true, y_pred)
    
    # Root Mean Squared Error (RMSE)
    rmse = np.sqrt(mse)  # or use squared=False in mean_squared_error
    
    # R-squared (R²)
    r2 = r2_score(y_true, y_pred)
    
    # Print the metrics
    print("Mean Absolute Error (MAE): {:.4f}".format(mae))
    print("Mean Squared Error (MSE): {:.4f}".format(mse))
    print("Root Mean Squared Error (RMSE): {:.4f}".format(rmse))
    print("R-squared (R²) Score: {:.4f}".format(r2))

# Example usage with actual and predicted values:
# Replace y_true and y_pred with your actual and predicted values

y_true = Y_test  # Actual values (replace with your actual test data)
y_pred = y_pred_rf  # Predicted values (replace with your model's predictions)

# Call the function to calculate the metrics
calculate_metrics(y_true, y_pred)

In [ ]:
import pickle
import json

# Assuming final_model and scaler are already defined and trained
save_model = "rf_regressor"  # or any key name based on your model naming

# Saving the RandomForest model to a file using pickle
with open("random_forest_model_v1.pickle", "wb") as f:
    pickle.dump(rf_regressor, f)  # Save the trained RandomForestRegressor

# Saving the scaler
with open("scaler.pickle", "wb") as f:
    pickle.dump(scaler, f)

# Saving encoded teams
with open("encodedteams.json", "w") as f:
    json.dump(encoded_teams, f)

# Saving the feature columns used in the model
with open("columns.json", "w") as f:
    json.dump({"columns": list(X.columns)}, f)

In [ ]:
import pickle
import json
import numpy as np

# Initialize variables as None or placeholders
scaler = None
model = None
encoded_teams = None
columns = None

# Load the RandomForest model from the pickle file
with open("random_forest_model_v1.pickle", "rb") as f:
    model = pickle.load(f)

# Load the scaler from the pickle file
with open("scaler.pickle", "rb") as f:
    scaler = pickle.load(f)

# Load the encoded teams dictionary from the JSON file
with open("encodedteams.json", "r") as f:
    encoded_teams = json.load(f)

# Load the columns (this will be a list of feature names)
with open("columns.json", "r") as f:
    columns = json.load(f)["columns"]

# If you need to convert columns into a NumPy array for some reason, you can do this:
columns = np.array(columns)

regression plot actual vs predicted

In [ ]:
import numpy as np

def prediction(batting_team, bowling_team, innings, over, runs, wickets, venue):
    # Create an array to hold input features
    X_pred = np.zeros(columns.size)  # This creates an array of the same length as columns
    
    # Assign input values to corresponding array indices
    X_pred[0] = encoded_teams[batting_team]  # The batting team index from encoded_teams
    X_pred[1] = encoded_teams[bowling_team]  # The bowling team index from encoded_teams
    X_pred[2] = innings  # Inning (1 or 2)
    X_pred[3] = over  # The over number (e.g., 5.1)
    X_pred[4] = runs  # Runs scored so far
    X_pred[5] = wickets  # Wickets fallen so far
    
    # Encode the venue by setting the corresponding index for that venue to 1
    venue_pos = np.where(venue == columns)[0][0]  # Find the position of the venue in the columns list
    X_pred[venue_pos] = 1  # Set the corresponding position to 1 for the venue
    
    # Scale input features using the loaded scaler
    X_pred = scaler.transform([X_pred])  # Apply the same scaling as during training
    
    # Make prediction using the loaded model
    prediction = model.predict(X_pred)  # Predict using your model (RandomForest or Lasso)
    
    # Return the prediction
    return prediction

# Example call to the prediction function
result = prediction("Kolkata Knight Riders", "Royal Challengers Bangalore", 1, 5.1, 20, 0, "Bengaluru")
print("Prediction Result:", result)